/* OpenSans Regular */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* OpenSans italic */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* OpenSans bold */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: bold;
}


@font-face {
  font-family: "NotoSerifTC";
  src: url("../fonts/NotoSerifTC-Regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerifTC";
  src: url("../fonts/NotoSerifTC-Bold.otf") format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "NotoSerifTC";
  src: url("../fonts/NotoSerifTC-Light.otf") format('opentype');
  font-weight: 200;
  font-style: light;
}

html {
  font-family: "NotoSerifTC";
  font-weight: 400;
  font-style: normal;
}